<!-- Default box -->
<div class="box">

<div class="box-header with-border">
  <h3 class="box-title">Descarga de Archivo 3g</h3>

  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remover">
      <i class="fa fa-times"></i></button>
    <!--<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
      <i class="fa fa-times"></i></button>-->
  </div>
</div>        
<div class="box-body">
	  <form action='{accion}' method='post'>
		  <!-- BEGIN tabla -->
		  	<div class='box-body'>
		    	<div class='form-group'>
		    		<label>Selecionar el Archivo a Descargar</label>						
						<select name='descarga' class='form-control'>
							<option value="">Nombre del Archivo</option>
							<!-- BEGIN registro -->							
								<option value="{tabla.registro.id}">{tabla.registro.archivo}</option>
							<!-- END registro -->							      														
						</select>
						<input type="hidden" name="nombre" value='3g'>
							 
				</div>				
			</div>
			<div  class='box-footer'>
					<input type="submit" name="descargar" value='DESCARGAR' class='btn btn-primary' >
					<input type="submit" name="eliminar" value='ELIMINAR' class='btn btn-danger' >
			</div>
			<!-- END tabla -->
	  </form>
</div>
<!-- /.box-body 
<div class="box-footer">
  Footer
</div>-->
<!-- /.box-footer-->
</div>
  <!-- /.box -->  