
<!-- Default box -->
<div class="box">

<div class="box-header with-border">
  <h3 class="box-title">Subir archivo Excel para el TCU</h3>

  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="remover">
      <i class="fa fa-times"></i></button>
    <!--<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
      <i class="fa fa-times"></i></button>-->
  </div>
</div>        
<div class="box-body">
	  <form action='{accion}' method='POST' name="spg" enctype="multipart/form-data">
		  <!-- BEGIN tabla -->
		  	<div class='box-body'>				
				<div class="form-group">
					<label>Tipo de Trama E1</label>
					<select name="trama" id="trama" class='form-control'>
						<option value="">Selecionar una Opción</option>
						<option value="e1">E1</option>
						<option value="e1_30">E1_30</option>
					</select>
				</div>			
				<div class="form-group">					
					<label>Seleccione Archivo</label>
					<input type="file" id="input02" name="archi_tcu">									
				</div>				
			</div>
			<div class='box-footer'>
				<input type="submit" name="procesar" value='PROCESAR' class='btn btn-primary' onclick="setInterval('cargar()',250)">
			</div>
			<div class='box-footer' id="oculto" style='display:none;' >
				  <progress id="barra" value="0" max="220" style="width:100%;" ></progress>
			</div>						
			<!-- END tabla -->
	  </form>
</div>
<!-- /.box-body 
<div class="box-footer">
  Footer
</div>-->
<!-- /.box-footer-->
</div>
  <!-- /.box -->  